body {
    /* font-family: "Poetsen One", cursive, Arial, sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: #767272;
}

.page {
    width: 1100px;
    margin: auto;
    background-color: white;
}

b{
    /* font-family: 'Montserrat', sans-serif; */
    color: #201e1e;
    font-weight: 700;
}

.container {
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: "#cfe0f2";
}

header {
    /* font-family: "Jaro", sans-serif; */
    font-family: "Genos", sans-serif;
    font-weight: 900;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-image: url("../image/rm378-09.jpg");
    background-position: center;
    color: white;
    padding: 20px;
}

header h1 {
    font-size: 2.8em;
    font-weight: 700;
    margin: 0;
}

#title h3{
    /* font-size: 1.7em; */
    font-size: 26px;
    display: flex;
    justify-content: center;
    padding: 10px;
    /* background-color: #cfe0f2; */
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7em;
    font-style: italic;
    line-height: 1.5em;
}

#text p{
    font-family: "Helvetica", sans-serif;
    /* font-family: "Roboto Slab", serif; */
    font-size: 0.9em;
    font-style: normal;
    text-align: justify;
}

#text1 p{
    font-family: "Helvetica", sans-serif;
    /* font-family: "Roboto Slab", serif; */
    font-size: 0.95em;
    font-style: normal;
    text-align: center;
}

#map {
    width: 100%;
    max-width: 100%;
}

#viz2,#viz6,#viz7 {
    display: flex; /* Use flexbox to align items side by side */
    align-items: flex-start; /* Align items at the top */
    justify-content: space-between; /* Space items evenly */
}

#viz2-1,#viz6-1,#viz7-1 {
    width: 63%;
}

#viz7-1 {
    width: 60%;
}

#viz2-1 {
    width: 80%;
}

#viz2-2 {
    width: 20%;
}

#viz2-2,#viz6-2,#viz7-2 {
    width: 33%;
}


#asean {
    width: 100%;
    max-width: 100%;
}

#sankey {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    height: 375px;
}

footer {
    background-color: #48a9de;
    display: flex;
    flex-direction: column;
    height: 100px;
    background-image: url("../image/rm378-09.jpg");
    background-position: center;
    color: white;
    padding-bottom: 40px;
}

footer p {
    font-size: 0.85em;
    font-style: normal;
    line-height: 1.8em;
    padding-left: 60px;
}

.hover-underline {
    text-decoration: none;
    position: relative;
}

.hover-underline:hover {
    text-decoration: underline; 
}